{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">passer une nouvelle demande</h4>
                    <p class="card-category">remplir la formulaire suivante pour passer une demande</p>
                </div>
                {% comment %} {% if seances  %}
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <th>ID</th>
                                <th>Module</th>
                                <th>Enseignant</th>
                                <th>Heure</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                {% for seance in seances %}
                                    <tr>
                                        <td>{{ seance.id }}</td>
                                        <td>{{ seance.Module }}</td>
                                        <td>{{ seance.Enseignant }}</td>
                                        <td>{{ seance.Ordre }}</td>
                                        <td>
                                            <a href="#" class="btn btn-primary btn-sm mx-1">Modifier</a>
                                            <a href="#" class="btn btn-danger btn-sm mx-1">Supprimer</a>
                                        </td>
                                    </tr>
                                {% endfor %} 

                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="card-body">
                        <p class="card-text">Aucune séance n'a été programmée pour aujourd'hui.</p>
                    </div>
                {% endif %} {% endcomment %}
                <div class="card-body">
                    <form action="{% url 'seances_manage' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="filiereSelect" class="form-label">Filière</label>
                          <select class="form-control" id="filiereSelect" aria-label="Select Filière">
                            <option selected required>Choisir un document</option>
                            <!-- Dynamic filiere options -->
                          </select>
                        </div>
                                              
                        <div class="mb-3">
                          <label for="promoSelect" class="form-label">Promotion</label>
                          <select class="form-control" id="promoSelect" aria-label="Select Promotion" name="promo_id">
                            <option selected required>Choisir une promotion</option>
                            <!-- Dynamic promotion options -->
                          </select>
                        </div>
                                              
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}